/* CSS Jerome */

h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
  a{
    text-decoration: none;
    color: white;
  }
  .petitCreux {
    display: flex;
    flex-direction: column;
  }
  h3{
    text-align: center;
    font-style: oblique;
    text-shadow: 0.055em 0.055em black;
  }
  .restaurant {
    height: 60vh;
    width: 85vw;
    position: relative;
    background: url("assets/img/lahache1.jpg") no-repeat center;
    background-size: cover;
    margin: 25px 20px;
    border-radius: 2rem;
    box-shadow: 2px 3px 10px rgba(54, 53, 53, 0.774);
    filter: grayscale(0%);
    transition: .3s ease-in-out;
  }
  .bar {
    height: 60vh;
     width: 85vw;
    position: relative;
    background: url("assets/img/caupona.jpg") no-repeat center;
    background-size: cover;
    margin: 25px 20px;
    border-radius: 2rem;
    box-shadow: 2px 3px 10px black;
    filter: grayscale(0%);
    transition: .3s ease-in-out;
  }
  .patisserie{
    height: 60vh;
     width: 85vw;
    position: relative;
    background: url("assets/img/naegel.jpg") no-repeat center;
    background-size: cover;
    margin: 25px 20px;
    border-radius: 2rem;
    box-shadow: 2px 3px 10px black;
    filter: grayscale(0%);
    transition: .3s ease-in-out;
  }
  .boxInformations {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.6em;
  }
  .testpara{
    padding: 20px;
  }
  .restaurant:hover {
    filter: grayscale(80%);
  }
  .bar:hover{
    filter: grayscale(80%);
  }
  .patisserie:hover{
    filter: grayscale(80%);
  }
  .pCreux{
    text-align: center;
    margin-top: 10px;
    font-style: oblique;
    text-shadow: 0.055em 0.055em black;
  }
  
  @media screen and (min-width: 600px) {

  .petitCreux {
    display: flex;
    flex-direction: row;
}
}
  /* CSS Jerome */