.secret {
    display: flex;
}
.secret1 {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}
.paragraphe {
    display: flex;
    flex-direction: column;
}
p {
    text-align: center;
    margin: 1em;
}
#img-merciere {
    max-width: 70%;
}
.merciere {
    text-align: center;
}
/*ici commence les options du media si plus de 600 px*/
@media screen and (min-width: 600px) { 
    .secret1 {
        margin-top: 2em;
        margin-bottom: 1em;
        text-align: center;
    }
    .paragraphe {
        flex-direction: row; 
    }
   .merciere {
       flex-direction: row;
       max-width: 100%;
    height: auto;   
   }
    .secret1 {
        text-align: initial;
        margin: 1em;
    }
    .secrets-article {
    max-width: 100%;
    }
}