.secret {
    display: flex;
}
.secret1 {
    margin-top: 2em;
    margin-bottom: 1em;
    text-align: center;
}
.paragraphe {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 1em;
    line-height: 1.5;
}
#texte {
    text-align: justify;
    margin: 1em;
}

.merciere {
    height: 50vh;
    background: url("assets/img/img-merciere.jpg") no-repeat center;
    background-size: cover;
}
/*ici commence les options du media si plus de 600 px*/
@media screen and (min-width: 600px) { 
    .secret1 {
        margin-top: 2em;
        margin-bottom: 1em;
        text-align: justify;
    }
    .paragraphe {
        flex-direction: row;
    }
    .para {
        width: 50%;
    }
   .merciere {
       width: 50%;   
   }
    .secret1 {
        text-align: initial;
        margin: 1em;
    }
    .secrets-titre {
    max-width: 100%;
    }
}