@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fr.allfont.net/allfont.css?fonts=playfair-display');

/* ==MENU== */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h2, h3  {
  font-family: "Poppins";
}

body {
  font-family: "Playfair display", arial;
  position: relative;
}
.navigation 
{
    position: fixed;
    right: 5px;
    height: 50px;
    width: 125px;
    height: 50px;
    transition: 0.5s;
    z-index: 100000;
    overflow: hidden;
    background-color: black;
}

.navigation:hover {
  background: rgba(255, 0, 0, 0.734);
  opacity: 0.8;
}

.navigation.active
{
    height: 350px;
}

.navigation .toggle 
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: rgb(255, 255, 255);
    background: rgba(97, 138, 138, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    font-size: 20px;
    cursor: pointer;

}

.navigation .toggle:before
{
    content: "Menu";
    margin-right: 10px;
}

.navigation .toggle.active:before
{
    content: "Close";
    margin-right: 10px;
}

.navigation .toggle span
{
    position: relative;
    width: 20px;
    height: 50px;
}

.navigation .toggle span::before
{
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(138, 138, 138);
    transition: 0.5s;
}

.navigation .toggle span::after
{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(138, 138, 138);
    transition: 0.5s;
}

.navigation .toggle.active span::before
{
    transform: rotate(225deg);
    top: 24px;
}

.navigation .toggle.active span::after
{
    transform: rotate(135deg);
    bottom: 24px;
}

.navigation ul
{
    position: relative;
    background: rgba(0, 0, 0, 0.205);
}

.navigation ul li 
{
    list-style: none;
}

.navigation ul li a
{
    position: relative;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    height: 50px;
    color: white;
    font-size: 18px;
    transition: 1s;
}

.navigation ul li a:hover
{
    transition: 0;
    background:rgb(17, 17, 17);
}


/* CSS Ifé */
:root {
    --primary-color: #010712;
    --secondary-color: #818386;
    --bg-color: #FCFDFD;
    --button-color: #3B3636;
}

#landingpage {
    background: url("assets/img/homepage.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    height: 100vh;
}

#landingpage-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
}

#landingpage-text h1 {
  font-size: 5em;
}

.card {
  /* border: 2px solid black; */
  width: 90%;
  height: 470%;
  position: absolute;
  top: 90%;
  right: 5%;
  background-color: #FCFDFD;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 2px;
}

.contact-title {
    color: var(--primary-color);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 300;
    padding: 2rem;
}

form {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem 0;
    margin: 0 auto;
}

input[type="email"], input[type="text"] {
    height: 5vh;
}

input[type="email"], input[type="text"], textarea {
    border: none;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1em;
    font-family: "Playfair display", arial;
    background-color: var(--bg-color);
    border-bottom: 1px solid var(--secondary-color);
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    outline: none;
    width: 95%;
}

textarea {
    resize: none;
    height: 15vh;
}

input::placeholder, textarea::placeholder {
    color: var(--primary-color);
    font-size: 1rem;
}

button {
    text-transform: uppercase;
    font-weight: 300;
    background: var(--button-color);
    color: var(--bg-color);
    width: 12rem;
    height: 3rem;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.send {
  width: 12rem;
  height: 3rem;
  margin: 0 auto;
}

input:hover, textarea:hover, button:hover {
    opacity: 0.5;
}

button:active {
    opacity: 0.8;
}

/* ===CSS Jérôme */

h2 {
    font-size: 40px;
    text-align: center;
    margin: 2rem 1rem;
}

  
a{
  text-decoration: none;
  color: white;
}
.petitCreux {
  display: flex;
  flex-direction: column;
}
h3{
  text-align: center;
  font-style: oblique;
  text-shadow: 0.055em 0.055em black;
}
.restaurant {
  height: 60vh;
  width: 85vw;
  position: relative;
  background: url("assets/img/lahache1.jpg") no-repeat center;
  background-size: cover;
  margin: 25px 20px;
  border-radius: 2px;
  box-shadow: 2px 3px 10px rgba(54, 53, 53, 0.774);
  filter: grayscale(0%);
  transition: .3s ease-in-out;
}
.bar {
  height: 60vh;
    width: 85vw;
  position: relative;
  background: url("assets/img/caupona.jpg") no-repeat center;
  background-size: cover;
  margin: 25px 20px;
  border-radius: 2px;
  box-shadow: 2px 3px 10px black;
  filter: grayscale(0%);
  transition: .3s ease-in-out;
}
.patisserie{
  height: 60vh;
    width: 85vw;
  position: relative;
  background: url("assets/img/naegel.jpg") no-repeat center;
  background-size: cover;
  margin: 25px 20px;
  border-radius: 2px;
  box-shadow: 2px 3px 10px black;
  filter: grayscale(0%);
  transition: .3s ease-in-out;
}
.boxInformations {
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.6em;
}
.testpara{
  padding: 20px;
}
.restaurant:hover {
  filter: grayscale(80%);
}
.bar:hover{
  filter: grayscale(80%);
}
.patisserie:hover{
  filter: grayscale(80%);
}
.pCreux{
  text-align: center;
  margin-top: 10px;
  font-style: oblique;
  text-shadow: 0.055em 0.055em black;
}

/* ==CSS Laura== */
.secret {
    display: flex;
}

.paragraphe {
    display: flex;
    flex-direction: column;
    text-align: justify;
    margin: 0 auto;
    line-height: 1.5;
}
#texte {
    text-align: justify;
    margin: 1em;
}

.merciere {
    height: 50vh;
    background: url("assets/img/img-merciere.jpg") no-repeat center;
    background-size: cover;
    /* border-radius: 2rem; */
}

.footer {
  display: flex;
  justify-content: space-between;
}

#nousSuivre {
  margin-left: 2em;
}

.fab {
  color: black;
}

.fab:hover {
  color: red;
}


/* ==CSS Yoann */


.prusse 
{
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5em;
  text-align: justify;
}

.fleximg
{
  display: flex;

}

#img-obus
{
background: url("./assets/img/obus.jpg") no-repeat center;
background-size: cover;
margin-right: 0.5rem;
width: 40vw;
height: 33vh;
}

#img-obus2
{
  background: url("./assets/img/Obus-place-de-la-cathédrale.jpg") no-repeat center;
  background-size: cover;
  margin-left: 0.5rem;
  width: 40vw;
  height: 33vh;
}


.container 
{
  margin-inline: auto;
  width: min(90%, 70.5rem);
    
}
  
.split 
{
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  align-items: center;
}

/* ==== SMOOTH SCROLL CLASS======> */

[class*="reveal-"] 
{
  opacity: 0;
  transform: translateY(-30px);
}


.reveal-visible
{
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-1
{
  transition-delay: 0.1s;
}

.reveal-2 
{
  transition-delay: 0.2s;
}

.reveal-3 
{
  transition-delay: 0.3s;
}

.rexeal
{
    opacity: 0;
    transform: translateX(-30px);
  }

.rexeal-visible
{
    opacity: 1;
    transform: translateX(0);
    transition: 1s cubic-bezier(0.5, 0, 0, 1);
}
.rexeal2
{
    opacity: 0;
    transform: translateX(-30px);
  }

.rexeal2-visible
{
    opacity: 1;
    transform: translateX(0);
    transition: 1.5s cubic-bezier(0.75, 0, 0, 1.25);
}
  
/* <=================SMOOTH========================= */

/* ==============To TOP button=============> */
#btnScrollToTop 
{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(212, 212, 212, 0.4);
  box-shadow: 0 0 10px black(0, 0, 0, 0.25);
  color: rgba(10, 10, 10, 0.719);
  outline: none;
  border: none;
  cursor: pointer;
}

#btnScrollToTop:hover 
{
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

#btnScrollToTop:active 
{
  background: grey;
}


/* <==============To TOP button============= */
/* ==============QUIZ=============> */

.quizz
{
  padding: 1rem;
}

#quiz
{
  display: grid;
  grid-gap: 0.5rem;
}

#valider
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 12rem;
  transition: 0.1s;
}

.question {
	font-weight: 550;
  color: rgb(255, 255, 255);
  border: solid 1px rgba(0, 0, 0, 0.5);
  background-color: #3B3636;
  border-radius: 5px;
  width: 80vw;
  padding: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.answers {
  margin-bottom: 0.5rem;
  padding-left: 1rem;
  width: 80vw;
  border: solid 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

input[type="radio"]{
    margin-left: 1rem;
}

label {
    display: block;
    margin: 0.2rem;
}


/* ========= MEDIA QUERIES ============ */

@media only screen and (min-width: 600px){
    #contact-form {
      width: 90%;
    }
    .contact-title {
        font-size: 1.75rem;
        text-align: center;
    }
    input, textarea, button {
        font-size: 0.65rem;
    }

    input[type="email"], input[type="text"], textarea {
      font-size: 1em;
      font-weight: 500;
      font-family: "Playfair display", arial;
    }

    .description {
        font-size: 0.3rem;
        margin-left: 0.4rem;
    }
    button {
        width: 7rem;
    }

    .petitCreux {
        display: flex;
        flex-direction: row;
    }

    .secret1 {
        margin-top: 2em;
        margin-bottom: 1em;
        text-align: justify;
    }
    .paragraphe {
        flex-direction: row;
    }
    .para {
        width: 50%;
       padding: 1rem;
    }
   .merciere {
       width: 50%;
       padding: 1rem;
       /* border-radius: 2rem; */
     
   }
    .secret1 {
        text-align: initial;
        margin: 1em;
    }
    .secrets-titre {
    max-width: 100%;
    }

    .split {
        flex-direction: row;
    }
    
    .split > * {
        flex-basis: 100%;
    }
    
    .split > * + * {
        margin-left: 2em;
    }

    .fleximg {
      flex-direction: column;
     }

    #img-obus
    {
    margin: 0.5rem;
    width: 35vw;
    }
    
    #img-obus2
    {
      margin: 0.5rem;
      width: 35vw;
     }

     section 
     {
         height: 100vh;
     }

}

