* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navigation 
{
    position: fixed;
    right: 5px;
    height: 50px;
    width: 125px;
    height: 50px;
    transition: 0.5s;
    z-index: 100000;
    overflow: hidden;
}

.navigation.active
{
    height: 350px;
}

.navigation .toggle 
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    color: rgb(138, 138, 138);
    background: rgba(97, 138, 138, 0);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    font-size: 20px;
    cursor: pointer;

}

.navigation .toggle:before
{
    content: "Menu";
    margin-right: 10px;
}

.navigation .toggle.active:before
{
    content: "Close";
    margin-right: 10px;
}

.navigation .toggle span
{
    position: relative;
    width: 20px;
    height: 50px;
}

.navigation .toggle span::before
{
    content: "";
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(138, 138, 138);
    transition: 0.5s;
}

.navigation .toggle span::after
{
    content: "";
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    height: 2px;
    background: rgb(138, 138, 138);
    transition: 0.5s;
}

.navigation .toggle.active span::before
{
    transform: rotate(225deg);
    top: 24px;
}

.navigation .toggle.active span::after
{
    transform: rotate(135deg);
    bottom: 24px;
}

.navigation ul
{
    position: relative;
    background: rgba(0, 0, 0, 0.205);
}

.navigation ul li 
{
    list-style: none;
}

.navigation ul li a
{
    position: relative;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    height: 50px;
    color: white;
    font-size: 18px;
    transition: 1s;
}

.navigation ul li a:hover
{
    transition: 0;
    background:rgb(17, 17, 17);
}

/* ==== */


#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    
    width: 50px;
    height: 50px;
    display: block;
    
}
#return-to-top i {
    color: rgb(0, 0, 0);
    margin: 0;
    color: red;
    content: '▲';
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}
#return-to-top:hover i {
    color: rgb(0, 0, 0);
    top: 5px;
}