* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h2
{
  padding: 2rem;
  text-align: left;
  margin-left: 1rem;
}


.prusse 
{
  margin-bottom: 1em;
  margin-top: 1em;
  line-height: 1.5em;
  text-align: justify;
}

.fleximg
{
  display: flex;

}

#img-obus
{
background: url("./assets/img/obus.jpg") no-repeat center;
background-size: cover;
margin-right: 0.5rem;
width: 45vw;
height: 33vh;
}

#img-obus2
{
  background: url("./assets/img/Obus-place-de-la-cathédrale.jpg") no-repeat center;
  background-size: cover;
  margin-left: 0.5rem;
  width: 45vw;
  height: 33vh;
}


.container 
{
  margin-inline: auto;
  width: min(90%, 70.5rem);
    
}
  
.split 
{
  display: flex;
  flex-direction: column;
  text-align: right;
  justify-content: center;
  align-items: center;
}

/* ==========readmore button===========> */

#readMore 
{
    border: 0;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgb(68, 68, 68, 0.5);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#readMore:hover 
{
    background-color: rgb(63, 63, 63);
}

#readMore:active 
{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/* <==========readmore button=========== */

/* ==== SMOOTH SCROLL CLASS======> */

[class*="reveal-"] 
{
  opacity: 0;
  transform: translateY(-30px);
}


.reveal-visible
{
  opacity: 1;
  transform: translateY(0);
  transition: 1s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-2 
{
  transition-delay: 0.1s;
}

.reveal-3 
{
  transition-delay: 0.2s;
}
/* <=================SMOOTH========================= */

/* ==============To TOP button=============> */
#btnScrollToTop 
{
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: rgb(212, 212, 212, 0.4);
  box-shadow: 0 0 10px black(0, 0, 0, 0.25);
  color: rgba(167, 167, 167, 0.4);
  outline: none;
  border: none;
  cursor: pointer;
}

#btnScrollToTop:hover 
{
  background: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

#btnScrollToTop:active 
{
  background: grey;
}


/* <==============To TOP button============= */


  @media screen and (min-width: 600px) {

    .split {
        flex-direction: row;
    }
    
    .split > * {
        flex-basis: 100%;
    }
    
    .split > * + * {
        margin-left: 2em;
    }

    .fleximg {
      flex-direction: column;
     }

    #img-obus
    {
    margin: 0.5rem;
    
    }
    
    #img-obus2
    {
      margin: 0.5rem;
     }

}